[Unit]
Description=Check glusterd config directory full
After=glusterd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/check_diskspace.sh

[Install]
WantedBy=multi-user.target
