[Unit]
Description=Swift Object Service
After=swift-container.service

[Service]
ExecStart=/usr/bin/python /usr/bin/swift-object-server /etc/swift/object-server.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
