[Unit]
Description=Swift Gen Builders
Before=memcached.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/swift-volumes
ExecStart=/usr/bin/gluster-swift-gen-builders $S3_ACCOUNT gsmetadata

[Install]
WantedBy=multi-user.target
